.container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    background: var(--card-bg);
    width: 90%;
    max-width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.3rem var(--card-shadow);
    flex-direction: column;
    display: flex;
  }
}
