.download {
  width: 100%;
  background: hsl(239, 83%, 65%);
  max-width: 25rem;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  height: 4rem;
  border-radius: 1rem;
  color: #fff;
}
.title {
  font-size: 3.5rem;
  font-weight: 600;
  padding-bottom: 2rem;
  user-select: none;
  color: var(--color);
}
