.header {
  width: 100%;
  height: clamp(3rem, 20vh, 4rem);
  display: flex;
  padding-inline: clamp(0.8rem, 5vw, 2rem);
  align-items: center;
  justify-content: space-between;
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    img {
      width: clamp(1.8rem, 5vw, 2.5rem);
      height: clamp(1.8rem, 5vw, 2.5rem);
    }
    span {
      font-size: clamp(1.5rem, 5vw, 2.5rem);
      color: var(--color);
      padding: 0 0.5rem;
      font-weight: 600;
    }
  }
  .themeBtn {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
    cursor: pointer;
  }
}
